body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 5rem;
  margin: 80px;
  margin-top: 0px;
}
header p {
  font-weight: bold;
}
main {
  margin: 80px;
}

a {
  margin-right: 1rem;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: blue;
}
.nav-bar {
  color: black;
}
#presentacion {
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 30px;
}
#presentacion h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
}
#presentacion h6 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
#resumen {
  line-height: 32px;
  font-size: 18px;
  margin-bottom: 85px;
}
#resumen h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 80px;
}
.links-personales {
  width: 100%;
  margin-bottom: 100px;
}
.links-personales a {
  color: black;
}
.tittle {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.skills-card li {
  text-align: center;
  width: 100%;
  height: 180px;
  margin-right: 20px;
  background-color: white;
  font-weight: bold;
}
.skills-card img {
  width: 48px;
  height: 48px;
  margin-top: 20%;
}

.p-card {
  margin-top: 20%;
}
.formacion-card li {
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: white;
  font-weight: bold;
  margin-right: 2rem;
  margin-bottom: 20px;
}

.formacion-card img {
  width: 220px;
  height: 180px;
}
#alura {
  width: 300px;
  height: 180px;
}

.arrow-icon {
  height: 14px;
  width: 14px;
}

#contacto {
  display: flex;
}

#email-img {
  display: flex;
  width: 464px;
  height: 600px;
}
form {
  margin-left: 10px;
}

form h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
form p {
  font-size: 16px;
  margin-bottom: 20px;
}
form #name,
#email,
#subject,
#msj {
  display: block;
  background-color: white;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 30px;
}

#name,
#email,
#subject {
  height: 56px;
  width: 100%;
}

#msj {
  width: 100%;
  height: 155px;
  resize: none;
  padding-top: 20px;
}

#enviar-button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  width: 144px;
  height: 50px;
  background-color: #2a7ae4;
  color: #fff;
  border: none;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  header {
    align-items: center;
    height: 5rem;
    margin: 1.5rem;
  }
  header p {
    font-size: 18px;
    font-weight: bold;
  }

  .nav-bar {
    display: none;
  }
  main {
    margin: 1.5rem;
  }
  #presentacion {
    font-size: 20px;
  }
  #resumen {
    font-size: 18px;
  }
  ul {
    display: block;
    align-items: center;
    list-style: none;
  }
  .links-personales {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .links-personales li {
    font-size: 12px;
    font-weight: bold;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: blue;
  }
  .skills-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  .skills-card li {
    text-align: center;
    width: 120px;
    height: 120px;
    margin-top: 30px;
  }
  .skills-card img {
    width: 48px;
    height: 48px;
  }
  .p-card {
    margin-top: 20%;
    font-weight: bold;
    font-size: 16px;
  }
  .formacion-card {
    margin-left: 15px;
  }

  .formacion-card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formacion-card li {
    width: 80vw;
    height: auto;
    margin-top: 30px;
  }

  .arrow-icon {
    height: 9px;
    width: 9px;
  }

  form {
    margin: 0;
  }

  form #name,
  #email,
  #subject,
  #msj {
    padding-left: 5px;
  }
  #email-img {
    display: none;
  }
}
